{% extends "base.html" %}
{% block title %}Home - Flask Blog{% endblock %}
{% block content %}

<style>
    .welcome-message {
        margin: 10px;
        padding: 15px;
        color: #0077b6;
        text-align: center;
        border-radius: 8px;
    }
    .welcome-image {
        display: block;
        margin: 0 auto; 
        max-width: 80%; 
        height: auto; 
    }
</style>

<!-- Welcome message -->
<img src="{{ url_for('static', filename='screenshots/welcome.png') }}" class="welcome-image" alt="Welcome Image">
{% endblock %}
